<!DOCTYPE html>
<html>
<head>
	<title>AmetroMX</title>
	<meta charset='utf-8'>
	
</head>
<body>
	<h2>Bienvenido a AmetroMX <%= name %></h2>
	<p>Tu usuario: <%= email %></p>
	<p>Tu password: <%= password %></p>
</body>
</html>