<!DOCTYPE html>
<html>
<head>
	<title>AmetroMX</title>
	<meta charset='utf-8'>
	
</head>
<body>
	<h2>Hola <%= name %></h2>
	
	<p>Igresa con tu usuario: <%= email %></p>
	<p>y nuevo password: <%= password %></p>
</body>
</html>